html {
	background: url("https://ravenhawksmagazine.files.wordpress.com/2016/06/children-playing-on-grass_1098-504.jpg");
	background-size: cover;
	text-align: center;
	font-size:30px;
}

body {
	text-align: center;
	font-size:30px;
	margin:2em
	color:#800000;
}
header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h1{
	font-family: 'Gloria Hallelujah', cursive;
}

h2{
	font-style: bold;
	text-transform: uppercase;
}
section{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
p{
	font-size:30px;
}

ul{
	font-family: 'Gloria Hallelujah', bold;
}
nav{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
hr,hr {
	width: 800px;
}

div{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
ul {
	text-align: center;
	list-style-type: none;
}
footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}