body{
	text-align: center;
	background-image: url(unit_3/images.jpg);
	background-size: cover;
	font-family: Times;
{
hr{
	width: 200px;
}
p {
	font-size: 22px;
}
ul {
	text-align: center;
	list-style-type: none;
}