html {
	background: url("https://ravenhawksmagazine.files.wordpress.com/2016/06/children-playing-on-grass_1098-504.jpg");
	background-size: cover;
	text-align: center;
}
body {
	text-align: center;
	
}

h1{
	font-family: 'Gloria Hallelujah', cursive, center;
}

h2{
	font-style: bold;
	text-transform: uppercase;
}

ul{
	font-family: 'Gloria Hallelujah', bold;
}

hr,hr {
	width: 800px;
}

ul {
	text-align: center;
	list-style-type: none;
}